.dialog_window {
    background: lightgray;
    width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.message_input {
    display: flex;
    margin: auto 15px 15px 15px;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

.dialog_window button {
  width: fit-content;
  background: lightgreen;
  border: none;
  padding: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

.dialog_window button:hover {
  color: white;
}