.posts_form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.posts_form h2 {
  margin-bottom: 16px;
}

.posts_form form {
  display: flex;
  flex-direction: column;
}

.posts_form input {
  width: 80%;
  border: none;
  background: lightgray;
  padding: 20px 20px 30px 20px;
  margin-bottom: 12px;
}

.posts_form button {
  width: fit-content;
  background: lightgreen;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.posts_form button:hover {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.error {
  border: 1px solid red !important;
}

.errorMessage {
  width: fit-content;
  color: red;
  margin: 5px 0 15px;
}