.hero_block > img {
    width: 100%;
    height: 200px;

    object-fit: cover;

    border-radius: 8px;
}

.main_info {
  display: flex;
  flex-wrap: wrap;
  margin-top: -44px;
  margin-left: 22px;
}

.main_info > picture > img {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

.main_info ul > li {
  margin-bottom: 4px;
}

.main_info ul > li a {
  color: purple;
  border-bottom: 1px solid purple;
}

.main_info ul > li a:hover {
  color: gray;
  border-color: gray;
}

.main_info > picture {
  position: relative;
  width: fit-content;
  height: 160px;
}

.change_input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  font-size: 0;
  border: none;
  opacity: 0;
  background: initial;
}

.main_info_profile {
  margin-top: 44px;
  margin-left: 24px;
}

.main_info_profile h3 {
  margin-bottom: 14px;
  font-size: 24px;
  margin-top: 12px;
  font-weight: 700;
}

.contacts {
  width: 100%;
  margin-top: 18px;
}